// COLORS
$navigation-bcg-color: #5b605f;
$header-bcg-color: #4a4a49;
$buttons-color: #ff6600;
$boxes-bcg-color: #fffffa;
$message-info-color: #3498db;
$message-warning-color: #ffb03b;
$message-success-color: #468966;
$trash-icon-color: #bd4932;
$text-color: #a1a194;

// FONTS

$font-open-sans: "Open Sans", sans-serif;
$font-charmonman: "Charmonman", sans-serif;

//DIMENSIONS
$main-width: 1440px;
$navigation-width: 234px;
$dashboard-width: 1206px;
$dashboard-container-width: 1069px;
$font-base-size: 14px;
