.app-header {
  height: 80px;
  padding: 0 20px;

  h1 {
    font-size: 28px;
  }

  .user {
    margin: 0 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-name {
      font-size: 24px;
      color: $white-color;
    }

    &-icon {
      color: $buttons-color;
      font-size: 45px;
    }
  }
}

.main-section {
  height: 690px;
  display: flex;

  .nav-bar {
    height: 100%;
    width: $navigation-width;
    background-color: $navigation-bcg-color;

    &__list {
      .list__item {
        padding: 0 20px;
        height: 75px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          font-weight: 700;
        }

        &-link {
          font-size: 20px;
          color: $white-color;
          text-decoration: none;
          width: 100%;
        }
      }
    }
  }

  .chosen_item {
    padding-left: 15px;
    font-weight: 700;
    border-left: 5px solid $buttons-color;

    &::after {
      content: "\f531";
      font-family: "Font Awesome 5 Free";
      font-size: 18px;
      color: $buttons-color;
    }
  }

  .main-content {
    background-image: url("https://trello.com/1/cards/64b504ff5c87ffe729688c83/attachments/64b505005c87ffe729689508/previews/64b505005c87ffe729689507/download/image.png");
    background-size: contain;
    height: 100%;
    width: $dashboard-width;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-window {
      width: $dashboard-container-width;
      height: $dashboard-container-height;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $white-color;
      border: 1px dashed $black-color;
      color: $navigation-bcg-color;
      padding: 50px 330px;
      text-align: center;

      h2 {
        font-size: 36px;
        margin-bottom: 30px;
      }

      .sub__title {
        font-size: 24px;
        font-weight: 500;
      }

      .info__name {
        font-size: 20px;
      }

      .form__name {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input__name {
          font-style: italic;
          margin: 20px;
          padding: 4px 10px;
          width: 100%;
        }

        .form__btn {
          margin-bottom: 30px;
          padding: 6px 20px;
          font-size: 20px;
        }
      }
    }
    .not_first_entry_box {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .top__box {
        width: $dashboard-container-width;
        height: 177px;
        display: flex;
        justify-content: space-between;

        & > button {
          font-size: 20px;
          font-family: $font-open-sans;
          font-weight: 700;
          text-align: center;
          padding: 35px 0;
          background-color: $white-color;
          color: $message-success-color;
          width: 200px;
          height: 177px;
          border: 2px dotted $message-success-color;

          i {
            font-size: 60px;
            margin-bottom: 20px;
          }
        }

        &-info-rows {
          .info__row {
            font-size: 20px;
            font-weight: bold;
            width: 633px;
            height: 51px;
            background-color: $white-color;
            padding: 5px;
            position: relative;
            display: flex;
            align-items: center;

            &:first-of-type {
              color: $message-info-color;
              border: 2px dotted $message-info-color;
              margin-bottom: 12px;
            }
            &:nth-child(2) {
              color: $message-warning-color;
              border: 2px dotted $message-warning-color;
              margin-bottom: 12px;
            }
            &:last-of-type {
              color: $message-success-color;
              border: 2px dotted $message-success-color;
            }

            .fa-times-circle {
              position: absolute;
              top: 5px;
              right: 5px;
            }

            .fa-info-circle,
            .fa-exclamation-circle,
            .fa-check-circle {
              font-size: 35px;
            }

            .row-message {
              padding-left: 15px;
            }
          }
        }
      }

      .bottom__box {
        width: $dashboard-container-width;
        background-color: $white-color;
        height: 441px;
        border: 1px $black-color dashed;
        padding: 8px;

        .table__title {
          color: $buttons-color;
          text-align: center;
          margin: 10px 0;
          font-size: 20px;
          font-weight: 700;
        }

        .table__week {
          margin: 0 auto;
          width: 90%;
          text-align: center;

          th,
          td {
            padding: 14px;
            border-bottom: 1px solid $text-color;
          }

          th {
            border-top: 1px solid $text-color;
            color: $navigation-bcg-color;
            font-size: 24px;
          }
          td {
            font-size: 20px;
            color: $text-color;
          }
        }

        .change__buttons {
          margin: 20px 10px 5px;
          display: flex;
          justify-content: space-between;

          .change__btn {
            background-color: $white-color;
            color: $buttons-color;
            border: none;
            font-size: $font-base-size;
          }

          .previous__btn {
            &::before {
              content: "\f100";
              font-weight: 900;
              font-family: "Font Awesome 5 Free";
              color: $buttons-color;
              margin-right: 20px;
            }
          }

          .next__btn {
            &::after {
              content: "\f101";
              font-weight: 900;
              font-family: "Font Awesome 5 Free";
              color: $buttons-color;
              margin-left: 20px;
            }
          }
        }
      }
    }

    .add_new_schedule {
      position: relative;
      padding: 40px;
      display: inline;

      .schedule_header {
        display: flex;
        justify-content: space-between;

        h4 {
          font-size: 24px;
          color: $buttons-color;
        }

        .save_btn {
          padding: 6px 10px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 80px;
          width: 987px;
          height: 2px;
          background-color: $text-color;
        }
      }

      .inputs__box {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        padding-right: 60px;

        .input__box {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 30px;
          margin: 10px 0;
          gap: 20px;

          p {
            font-size: 24px;
            color: $navigation-bcg-color;
          }

          input {
            padding: 3px;
            font-size: $font-base-size;
            width: 720px;
          }

          &:nth-child(2) {
            font-size: $font-base-size;
            height: 76px;
          }

          &:last-child {
            justify-content: flex-start;
            gap: 25px;

            input {
              width: 45px;
            }
          }
        }

        &::after {
          content: "";
          margin-top: 10px;
          margin-left: 180px;
          width: 750px;
          height: 1px;
          background-color: $text-color;
        }
      }
    }
  }
}
