.footer {
  background-color: $navigation-bcg-color;
  padding: 40px 150px;
  color: $section-bcg-color;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .col {
      flex: 1;
      padding: 10px;
    }

    h4 {
      font-size: 32px;
      padding-bottom: 20px;
    }

    p {
      font-size: 24px;
      padding: 5px;
    }

    li {
      font-size: 24px;
      list-style-type: disc;
      line-height: 1.5em;
      list-style-position: inside;
    }

    .footer_label {
      display: flex;
      justify-content: left;
      align-items: center;

      input {
        font-size: 20px;
        padding: 6px;
      }

      .btn_footer {
        font-size: 20px;
        padding: 6px 10px;
      }
    }
  }
}

.social__icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;

  .social__icon {
    font-size: 40px;
    color: $white-color;
  }
}

.copyright {
  height: 60px;
  background-color: $footer-dark;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $section-bcg-color;
    font-size: 20px;

    span {
      color: $buttons-color;
    }
  }
}
