@import url("https://fonts.googleapis.com/css?family=Charmonman");
header {
  background-color: $header-bcg-color;
  height: 100px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: "Charmonman";
    font-size: 40px;
    #first {
      font-weight: 100;
      color: white;
    }
    #second {
      color: #e58a20;
      font-weight: 700;
    }
  }

  .header__nav {
    display: flex;

    .nav__element {
      padding: 0 26px;
      margin: 30px;

      &:last-child {
        padding-right: 0;
      }

      .nav__link {
        color: $white-color;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: $buttons-color;
        }
      }
    }
  }
}
