.newsletter {
  background-color: $header-bcg-color;
  padding: 40px 150px;
  color: $section-bcg-color;

  &__column {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 48px;
    }

    .newsletter_label {
      display: flex;
      justify-content: left;
      align-items: center;

      input {
        height: 51px;
        width: 235px;
        border: none;
        font-size: 20px;
      }
      button {
        font-size: 20px;
        padding: 12px 40px;
        border: none;
      }
    }
  }
}
