body {
  background-color: $white-color;
  font-family: $font-open-sans;
}

.hide {
  display: none !important;
}

.main-container {
  width: $main-width;
  margin: 0 auto;
}

h1 {
  font-family: "Charmonman";
  #first {
    font-weight: 100;
    color: white;
  }
  #second {
    color: #e58a20;
    font-weight: 700;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}
